<div class="containerimage ">
<nav class="navbar shadow  navbar-expand-lg navbar-dark bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="/">Big Events</a>
    <button class="navbar-toggler  bg-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/add">Create</a>
        </li>  
      </ul>   
    </div>
  </div>
</nav>


{# Hero Background Image #}

  <div class="text-center">
    <p> <img class="img img-fluid" src="/event.png" ></p>
        <a href="#events" class="bh btn btn-outline-dark text-dark  align-self-center m-5">See what we have to offer</a>

  </div>
</div>
